.g-container-footer{
  //min-height: 300px;
  width: 100%;
}

.footer {
  width: 100%;
  min-height: 80px;
  border-top: 1px solid #e4dddd;
  z-index: 999;
  float: left;
  font-size: 14px;
  color: #999;
  padding: 10px 0 10px 0;
}
.footer-inner {
  text-align: center;
}
.with-love {
  display: inline-block;
  margin: 0 5px;
}
