ul{list-style: none;}
a{
  color: #666 !important;
  text-decoration: none !important;
  &:hover{color: #45B6F7 !important; text-decoration: none;}
  &:focus{outline: 0;}
}

.u-header{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #fff;
  padding: 40px 20px 40px 20px;
  border-bottom: 1px solid #EAEAEA;
  border-color: rgba(0,0,0,.08);
  box-shadow: 0 1px 3px rgba(0,0,0,.03)
  min-height: 80px;
  margin-bottom: 15px;
}

.header-container{
  max-width: 1200px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  ul li {
    list-style: none
    font-size: 1em
  }
}

/* logo ======================================================================================================== */
.logo{
  overflow: hidden;
  float:left;
  margin-top: -20px;
  a{
    height: 62px;
    display: block;
    overflow: hidden;
    font-size: 0;
  }
  img{vertical-align: top;max-height: 60px;display: block;margin-bottom: 32px;}
}

.brand{
  font-size: 14px;
  float: left;
  line-height: 15px;
  color: #bbb;
  padding-left: 10px;
  position: relative;
  top: 1px;
  border-left: 2px solid #eaeaea;
  margin-left: 10px;
  /*overflow: hidden;*/
  height: 30px;
}

.nav-container{

}


/* site-navbar ======================================================================================================== */

.site-navbar{
  float: right;
  font-size: 1.2em;
  margin-top: 7px;
  li{
    position: relative;
    float: left;
    &:hover{z-index: 2}
  }
  a{
    display: block;
    padding: 0 13px;
    color: #666;
  }
  .fa{width: 15px;}
  .fa-angle-down{width: 11px;}
}
//.site-navbar li:hover > a,
//.site-navbar li.active a:hover,
//.site-navbar a:hover{
//  color: #45B6F7;
//}

.search-on .site-navbar li.navto-search a{color: #45B6F7;}

/* topbar ======================================================================================================== */
.topbar{
  position: absolute;
  top: -29px;
  left: 0;right: 0;
  margin-bottom: 20px;
  color: #999;
  .fa{width: 14px;}
  .fa-angle-down{width: 9px;}
  a{
    color: #999;
    &:hover{
      color: #45B6F7;
    }
  }
}
.topmenu{
  float: right;
  li{
    position: relative;
    float: left;
    &:hover{z-index: 2}
  }
  a{
    display: block;
    padding: 0 15px;
    color: #999;
  }
  .red{color: #FF5E52;display: inline-block;}
  .red:hover{color: #FF5E52;text-decoration: underline;}
}

.site-nav .sub-menu{display: none;position: absolute;top: 100%;left: 0;background-color: #fff;font-size: 13px;padding: 10px 0;border: 1px solid #ddd;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);line-height: 32px;width: 132px;font-weight: bold;border-radius: 4px;}
.site-nav ul .sub-menu{left: 100%;top: -7px;border-radius: 0}
.site-nav .sub-menu li{float: none;}
.site-nav .sub-menu a:hover{background-color: #f6f6f6;}
.site-nav li:hover > .sub-menu{display: block;}
.site-nav li:hover .fa-angle-down{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.site-nav li.current-menu-item > a, .site-nav li.current-menu-parent > a{color: #45B6F7;}

.m-icon-nav{display: none;}

@media screen and (max-width: 831px) {
  .brand{display: none;}
  .u-header{top: 0;left: 0;right: 0;text-align: center;;z-index: 9999;height: 100px;}
  .u-header .header-container{margin: 0; }

  .logo{float: none;text-align: center;max-width: 100%;}
  .logo a{max-width: 180px;margin: 0 auto;text-align: center;}
  .logo img{margin: 0 auto; padding:15px 0 25px 0; max-height: 100px;}

  .topbar{display: none;}

  .topbar-user{display: none;	}

  .site-navbar > li[id]{display: none;}

  .m-navbar{margin: 0 0; position: fixed;top:0;left: -70%;bottom:0;height: 100%;background-color: #293038;text-align: left;padding: 0;line-height: 32px;font-size: 16px;width: 70%;z-index:99999;display: block;overflow-y: auto;
    -webkit-transition:left 0.3s;
    -moz-transition:left 0.3s;
    -ms-transition:left 0.3s;
    -o-transition:left 0.3s;
    transition:left 0.3s;
  }
  .m-navbar li{float: none;text-align: ; margin-left: 0;}
  .m-navbar .sub-menu{position: relative;top: 0;box-shadow:none;background-color:transparent;border:none;border-radius:0;width: auto;margin: 0 0 0 25px;font-size: 14px;padding: 0;font-weight: normal;}
  .m-navbar .fa{width: 18px;display: inline-block;text-align: center;}
  .m-navbar li a{display: block;margin:0 20px;padding: 10px 10px;color: #eee;border-bottom: 1px solid #303C4A;}
  .m-navbar li:hover > a, .m-navbar li a:hover, .m-navbar li.current-menu-item > a, .m-navbar li.current-menu-parent > a{color: #fff;}
  .m-navbar .navto-search{display: none;}

  /*body{-webkit-transition-duration:500ms;}*/

  .m-icon-nav{display:block;position:absolute;top:-15px;left:0;font-size: 19px;padding: 21px 30px 21px 15px;color: #999;}

  .m-nav-show{ /* -webkit-transform:translate3d(70%,0px,0px); */  position: fixed;top: 0;right: 0;left: 0;bottom: 0;height: 100%;width: 100% }
  .m-nav-show .m-navbar{left: 0;}
  /*.m-nav-show .header{position: absolute;}*/
  .m-nav-show .m-mask{display: block;position: fixed;top: 0;right: 0;left: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 99998;overflow: hidden;}
  .m-nav-show .m-icon-nav{color: #45B6F7;}

  .navto-search{display:none}
  .site-search{top: -100px;}
  .search .site-search{top: 0}
  .site-navbar li.navto-search{position: absolute;top: -15px;right: 0;border-bottom: none;}
  .site-navbar li.navto-search a{padding: 15px 15px 15px 30px;color: #999999;border-bottom: none;margin: 0}
  .site-nav .navto-search .fa{display: block;font-size: 19px;}
  .search-on .site-search{top: 62px;}

  .pageheader, .page-template-pagesnavs-php .pageheader{margin-top: -15px;}

  .readers a.item-top{float: none;width: auto;display: block;margin: 0 0 15px 0;}

  .flinks{display: none;}

}
