body {
  position: relative;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 15px;
  line-height: 2 !important;
  color: #555;
  background: #fff;
}
/*ul li {*/
  /*list-style: square;*/
/*}*/

blockquote {
  padding: 0 15px;
  color: #191515;
  border-left: 3px solid #ccc;
  background: #fff;
  font-family: Lora, Georgia, "Times New Roman", Kaiti, STKaiti, serif;
  font-size: 15px;
}


table{
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
}
th, td {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #333;
}
td {
  border-bottom-width: 1px;
}

caption, th, td {
  padding: 8px !important;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
p {
  margin: 0 0 25px 0 !important;
}

ul li
  list-style: square;
  font-size: $font-size;

ul{
  -webkit-margin-before: 2em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}


.post pre, .post .highlight {
  background: #f7f7f7;
  margin: 20px 0;
  padding: 15px;
  overflow: auto;
  font-size: 13px;
  color: #4d4d4c;
  line-height: 1.6;
  border: #ced0d4 1px solid;
}
.post .highlight pre {
  border: none;
  margin: 0;
  padding: 1px;
  overflow: scroll;
}

li ul { margin: 1em 0; padding: 0 0 0 2em; }

.u-post-content pre {
  padding: 1px;
}

pre code {
  white-space: inherit !important;
  line-height 1.6em;
  font-size: 14px !important;
}

.has-numbering {
}

.hljs {
  overflow-x: visible;
  padding: 0 50px;
  margin-top:10px;
}

.pre-numbering {
  margin-top:10px;
  float:left;
  position: relative;
  width: 30px;
  background-color: #EEE;
  text-align: left;
  font-size: 14px;
  overflow-y: visible;
  li{
    list-style: none;
    line-height: 1.8em;
    vertical-align: middle;
    text-align:right;
    margin-right:10px;
  }
  ul{
    margin-bottom: 0;
  }
  border-right: 2px solid #68ef34;
}
pre ul {padding:0; }
